.info-card{
    padding: 0px 5px;
}
.info-primary{
    background-color: #1CC7C1;

}
.info-dark{
    background-color: #3A4256;
}

.info-container{
    height: 200px !important;
    padding: 30px;
    overflow: hidden;
}
.info-icon{
    font-size: 3rem;
}
.info-container h6 a{
    text-decoration: none;
    color: #fff ;
    
}
.info-container h6 a:hover{
  
    color: rgb(133, 128, 104) ;
    
}